.tehtävä1 {
background-color:orange;
}

.tehtävä2 {
background-color:yellow;
}

.tehtävä3 {
background-color:lightblue;
}

.tehtävä4 {
background-color:pink;
}

.tehtävä5 {
background-color:lightgreen;
}
